.container {
    width: 1250px;
}

/*标题*/
header {
    padding: 0px;
    display: flex;
    position: fixed;
    z-index: 100;
}

#logoImg {
    width: 358px;
    height: 108px;
}

header .menu {
    color: white;
    background-color: white;
    padding-left: 1px;
    width: 860px;
    height: 108px;
    display: flex;
}

.menu div {
    width: 143px;
    height: 108px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 50px 0 0 40px;
    text-decoration: none;
    background: #333333;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu div:hover {
    background: #525252;
}

.menu div .lev2 {
    font-size: 12px;
    color: #efefef;
    line-height: 20px;
    text-decoration: none;
}

/*左侧栏*/
nav {
    background-color: #F6F6F6;
    width: 160px;
    position: fixed;
    z-index: 99;
    top: 108px;
}

nav div a {
    color: #000000;
    text-decoration: none;
}

nav div {
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
}

nav .caseTypeGray {
    background-color: #EFEFEF;
}

nav div:hover {
    background-color: #DFDFDF;
}

nav div a:hover {
    text-decoration: none;
}

nav div .smallTitle {
    font-size: 12px;
    color: #ABABAB;
    line-height: 20px;
    text-decoration: none;
}

nav div .smallTitle:hover {
    color: #000000;
}

#caseTypeBorder {
    height: 7px;
    background: #B6B5B5;
    margin: 0px;
}

/*中间内容区域*/
section {
    width: 1217px;
    float: left;
    padding: 108px 0 0 160px;
}

.detail {
    padding: 0 0 0 25px;
}

.detail .menuTitle {
    padding: 10px 0;
    font-family: "微软雅黑";
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.detail .menuTitle a {
    font-size: 15px;
    color: #363636;
    line-height: 30px;
    text-decoration: none;
    float: right;
    font-weight: normal;
}

.about {
    display: flex;
}

.about .img {
    width: 340px;
    height: 159px;
}

.about .img img {
    width: 340px;
    height: 159px;
}

.about .desc {
    padding: 0 20px;
    width: 700px;
    height: 159px;
    font-size: 15px;
    line-height: 30px;
    color: #363636;
    text-decoration: none;
    font-family: "微软雅黑";
}

.imgClick img {
    margin: -2px;
    transition: 0.3s;
}

.signImg img {
    width: 206px;
    height: 155px;
}

.imgClick img:hover {
    /*阴影立体感*/
    -webkit-filter: drop-shadow(8px 8px 10px gray);
    filter: drop-shadow(8px 8px 10px gray);
}

/*其他菜单的内容展示，在线客服和中间富文本*/

#onlineService {
    float: right;
    background-color: #EFEFEF;
    padding: 0 15px;
    width: 280px;
    font-family: "微软雅黑";
    font-size: 13px;
    line-height: 25px;
    color: #656565;
    text-decoration: none;
}

#onlineService p {
    margin: 0;
}

#onlineService .companyName {
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
}

#onlineService a {
    margin: 10px;
    background-color: #E70012;
}

#onlineService a:hover {
    background-color: #c90012;
}

#textContent {
    width: 750px;
    display: inline-block;
}

#textContent #contentTitle {
    font-family: "微软雅黑";
    font-size: 25px;
    line-height: 60px;
    height: 60px;
    color: #000000;
    font-weight: bold;
    padding-left: 15px;
}

#textContent .textCaseInfo {
    width: 750px;
    float: left;
    padding-left: 15px;
}

.textCaseInfo .imgClick .caseImg2 {
    width: 206px;
    height: 155px;
    margin: 0 -3px 0 0;
}

.textCaseInfo .imgClick .caseImg3 {
    width: 343px;
    height: 258px;
    margin: 0 -3px 0 0;
}

.textCaseInfo .imgClick .caseImg5 {
    width: 510px;
    height: 336px;
    margin: 0 -3px 0 0;
}

.imgClick .biggerImg {
    float: left;
}

.imgClick .biggerImg span {
    float: left;
    color: black;
    font-size: 16px;
    line-height: 40px;
    height: 50px;
    text-decoration: none;
}

.imgClick .biggerImg span:hover {
    color: #C30D23;
}

#textContent .textCaseInfo .pageItem {
    text-align: center;
}

#textContent .textCaseInfo .noticeRow {
    display: flex;
    height: 165px;
    line-height: 165px;
}

.textCaseInfo .noticeRow img {
    width: 201px;
    height: 143px;
    margin: 10px 25px 10px 5px;
}

.textCaseInfo .noticeRow h5 {
    font-family: '微软雅黑';
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.textCaseInfo .noticeRow h5:hover {
    color: #C30D23;
}

.textCaseInfo .noticeRow p {
    font-size: 15px;
    line-height: 30px;
    color: #363636;
    text-decoration: none;
    font-family: "微软雅黑";
}

.textCaseInfo h5 {
    text-align: center;
    font-family: "微软雅黑";
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #363636;
    text-decoration: none;
}

.textCaseInfo .timeTimes {
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #F6F6F6;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #656565;
    text-decoration: none;
    margin: 10px 0;
}

.textCaseInfo .tmpCoverShow {
    width: 100%;
    height: 100%;
}

.textCaseInfo .preAndNext {
    text-align: center;
    background-color: #EFEFEF;
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    color: #000000;
    text-decoration: none;
    margin: 10px 0;
}

/*底部*/
footer {
    background-color: #1C1C1C;
    color: white;
    clear: both;
    padding: 5px;
    margin-top: 40px;
}

.foot-content {
    width: 1200px;
    height: 220px;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
}

.footLogoDiv {
    width: 313px;
    height: 155px;
}

.footCase {
    width: 380px;
    height: 155px;
}

.footAbout .aboutName {
    font-weight: bold;
    margin: 8px 0;
    font-size: 15px;
    line-height: 25px;
    font-family: "微软雅黑"
}

.footAbout p {
    margin: 10px 0;
}

.verticalImg {
    width: 46px;
    height: 155px;
}

.footCall, .qrcode {
    padding: 20px;
}

.footCall img {
    margin: 10px 0;
}

.cpt {
    margin: 0 auto;
    width: 1200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 15px;
    color: #bfbfbf;
    text-decoration: none;
    font-family: "微软雅黑";
}

.cpt a {
    font-size: 14px;
    color: #656565;
    line-height: 28px;
    text-decoration: none;
}

/*右侧悬浮*/
html {
    overflow-x: hidden;
}

.scrollsidebar {
    position: absolute;
    z-index: 999;
    top: 350px;
    right: 0
}

/*初始化显示*/
#nextSection {
    display: none;
}

